{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% comment %} page title {% endcomment %}
    <title>{% block title %}{% endblock title %}</title>

    {% comment %} css {% endcomment %}
    {% block css %}
    {% comment %} css/bootstrap.min.css {% endcomment %}
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}"></link>
    {% comment %} css/style.css {% endcomment %}
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}"></link>
    {% comment %} js/jquery.min.js {% endcomment %}
    {% endblock css %}

    {% comment %} js {% endcomment %}
    {% block js %}
    {% comment %} js/jquery.min.js {% endcomment %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    {% comment %} js/bootstrap.min.js {% endcomment %}
    {% endblock js %}


</head>
<body>

    {% comment %} {% include "header.html" %}
    {% include "navbar.html" %}
    {% block body %}{% endblock body %}
    {% include "footer.html" %} {% endcomment %}

</body>
</html>